.active {
    margin-top: 10em;
}

tbody {
    width: auto
}

td:first-child {
    vertical-align: middle !important;
    font-size: 125%;
}

table {
    width: 60% !important;
    text-align: left!important;
}

table th {
    text-align: center !important;
}

#fontawesome {
    text-align: center!important;
}

small {
    padding-left: 2px;
}

.update-btn {
    width: 20%!important;
}

.conf-table {
    width: 100%!important;
}

label{
    margin-left:0;
}